<nav>
  <div class="sidebar-top">
    <span class="expand-btn">
      <img src="/public/assets/nav/chevron.svg" alt="Chevron">
    </span>
    <img src="/public/assets/nav/logo.svg" class="logo" alt="Laplace Logo">
    <h3 class="hide">La Tienda</h3>
  </div>
  <div class="sidebar-links">
    <ul>
      <li>
        <a href="/productos" title="Portfolio link">
          <div class="icon">
            <img src="/public/assets/nav/portfolio.svg" title="Portfolio Icon">
          </div>
          <span class="link hide">Productos</span>
        </a>
      </li>
      <li>
        <a href="/categorias" title="Reports Link">
          <div class="icon">
            <img src="/public/assets/nav/reports.svg" title="Reports Icon">
          </div>
          <span class="link hide">Categorías</span>
        </a>
      </li>
    </ul>
  </div>
</nav>